header {
  background-color: $introBg;
  .container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto); //verilenlerin duracagı konum ayarlandı
    grid-gap: 20px; //aralarındaki boşluk
    align-items: center;

    @include breakpoint(large) {
      grid-gap: 56px;
     
    }
  }

  img {
    //fotografın küçülügünde ve büyüdügündeki büyüklügü ayarlandı
    width: 83px;

    @include breakpoint(large) {
      width: 185px;
    }
  }

  a {
    font-size: 0, 875rem;

    @include breakpoint(large) {
      font-size: 1rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
