.productive {
  &_grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 50px;
    max-width: 600px;
    margin: 0 auto;

    @include breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1328px;
    }
  }

  &_image {
    text-align: center;

    img {
      width: 100%;
      max-width: 615px;
    }
  }
  &_text {
    
    

    h2 {
   
      @include breakpoint(large) {
        max-width: 400px;
      }
    }

    p {
      font-size: 0.875rem;
    }

    a {
      //s覺k覺nt覺l覺
      background-image: url("img/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 25px;
      color: $ctaCyan;
      border-bottom: 1px solid $ctaCyan;
      transition: all 200ms ease-in-out;

      &:hover {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}
